body {
    text-align: center;
    cursor: default;
    background-color: black;
    font-family: 'Roboto', sans-serif;
}

table {
    border: 1px solid #333;
    display: inline-block;
    text-align: center;
}

.cell {
    display: inline-block;
    width: 30px;
    height: 30px;
    min-width: 30px;
    min-height: 30px;
    background-color: #59aec7;
    border-right: 1px solid white;
    border-left: 1px solid white;
    font-size: 1.4em;
    cursor: pointer;
    color: rgb(2, 6, 71);
    margin: 0 0.1em 0.1em 0;
}

.cell:hover {
    background-color: white;
}

h3 {
    margin: 0;
    display: contents;
}

.smile .btn {
    text-align: center;
    cursor: pointer;
}

.smile-img, .flag {
    width: 25px;
    height: 25px;
}

.opened {
    background-color: whitesmoke;
}

.btn {
    width: fit-content;
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #FFFFFF;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 300;
    color: #FFFFFF;
    text-align: center;
    transition: all 0.2s;
    cursor: pointer;
}

.btn:hover {
    color: #000000;
    background-color: #FFFFFF;
}
.btn {
    margin: 0.4em auto;
}

.timer, .live-counter {
    margin-right: 30px;
    color: #FFFFFF;
    border-left: 1px white;
}
.live-counter span{
    color: red;
}
.timer span{
   color: red 
}
.show{
    background-color: pink;
}